@model MoviesProject.Models.Utilisateur

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Les films";
}

<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Inscription</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.NomUtilisateur)
                            @Html.TextBoxFor(m => m.NomUtilisateur, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NomUtilisateur)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MotDePasse)
                            @Html.PasswordFor(m => m.MotDePasse, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MotDePasse)
                        </div>
                        <input type="submit" value="Créer" class="btn btn-primary" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
